/* colors 
#00CC66 green
#E3DBDB grey
#1E272E black
whitesmoke
*/

header {
    height: 100vh;
    background: url(../../assets/images/glasses.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-center {
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline {
    width: 300px;
    border: 3px solid #00CC66;
    margin: 0px auto 20px auto;
}

.banner-center a {
    font-size: 30px;
    color: whitesmoke;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border: 3px solid whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a:hover,
.banner-center a:focus {
    background-color: whitesmoke;
    color: #00CC66;
}

.credit { 
    position: absolute;
    bottom : 20px;
    right: 20px;
    font-size: 10px;
}



