/* colors 
#00CC66 green
#E3DBDB grey
#1E272E black
whitesmoke
*/

.transparent {
    background: rgba(255, 255, 255, 0.7);
}
.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #00CC66!important;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: #00CC66!important;
}

.navbar a:hover {
    color: #1E272E!important;
    text-underline-position: #00CC66;
}
