<section id="menu" class="container-fluid text-center">
  <app-title-item [title]="title"></app-title-item>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of menuItems">
      <h2>{{item.label | titlecase}}</h2>
      <fa name="{{item.iconName}}"></fa>
      <p class="text-muted text-justify">{{ item.introduction }}</p>
      <button routerLink="{{item.url}}" class="btn btn-block">En savoir plus...</button>
    </div>
  </div>
</section>

<section id="about" class="container-fluid ">
  <div class="row">
    <div class="col-sm-4 text-center box">
      <app-title-item [title]="presentationItems.firstname"></app-title-item>
      <p class="text-muted">{{ presentationItems.position }}</p>
      <p class="text-justify">{{presentationItems.description}}</p>
      <p class="text-justify">{{presentationItems.hobbies}}</p>
    </div>
    <div class="col-sm-8 pic"></div>
  </div>
</section>

