/* colors 
#00CC66 green
#E3DBDB grey
#1E272E black
whitesmoke
*/

#menu {
    padding: 40px;
    color: #1E272E;
    background-color: #E3DBDB;
}

#menu fa {
    font-size: 100px;
    margin-bottom: 10px;
}

#menu button {
    margin-bottom: 20px;
    background-color: #00CC66;
    color: whitesmoke;
}

#menu a:hover {
    background-color: #E3DBDB;
    color: #00CC66;
} 

#about {
    background-color: #1E272E;
    color: whitesmoke;
    text-align: justify;
}

#about .pic {
    height: 100vh;
    background: url(../../assets/images/matrix.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 100vh solid transparent;
    border-left: 100px solid #1E272E;
}

#about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
