/* colors 
#00CC66 green
#E3DBDB grey
#1E272E black
whitesmoke
*/


.container {
    margin: 10px auto 10px auto;
    max-width: 900px;
}

/* left-side image */

.col-sm-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.container img {
    width: 100px;
    height: auto;
    max-height: 100px;
}

.card-header {
    min-height: 124px;
}

/* card header */

header .card-header {
    position: relative;
}

.date-span {
    float: right;
    font-size: 12px;
}

.fa-long-arrow-right {
    font-size: 120%;
}

/* card body */

.article {
    position: relative;
}

.description {
    margin-bottom: 0px !important;
}

.badge {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #00CC66;
    color: #1E272E;
}

.badge-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-link {
    margin-bottom: 0px !important;
}

.fa-external-link {
    margin-right: 5px;
    font-size: 120%
}

/* collapsible link */

.icon-action {
    font-size: 150%;
    color: #00CC66;
    cursor: pointer;
}

.fa-chevron-down {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.fa-chevron-up {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

@media screen and (max-width: 600px) {
    .container img {
        display: none;
    }
}